

.title{
  background-image: url(imgs/Bio.png);
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
   font-size: 22px;
  border-radius: 50px 25px;
 
  
}
h1 {
  color: rgb(188 211 229);
}
.main {
    height: 2000px;
    display: block;
    margin: 8px;
    background-image: url(imgs/Bio.gif);
    font-size: 25px;
    background-position: center;
    background-size: cover;
    border-radius: 25px 50px;
    padding: 20px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
    color: white;
}